@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto+Mono:wght@100&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Berkshire Swash', cursive;
    background-color: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style: none;
}
/* =========header start======== */
.nav-bar{
    position: relative;
    width: 100%;
}

.nav-bar .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.image-fluid{
    max-width: 100%;
    border-radius: 50%;
    height: 80px;
    padding-top: 5px;
    background-color: #690b0b;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    display: none;

}


.nav-auto{
    margin: auto !important;
}


.navbar-nav{
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-nav li a{
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.navbar-nav li a:hover{
    background-color: #690b0b;
    border-radius: 20px;
} 

.navbar-nav .active{

    background-color: #690b0b;
    border-radius: 10px;

}

.navbar-right{
    position: relative;
    width: 140px;
    height: 50px;
    padding-top: 3px;
    text-align: center;
    background-color: #690b0b;
    border-radius: 35px;
}

.navbar-toggle{
    position: relative;
    padding: 0.25rem 0.75rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.navbar-toggle span{
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.navbar-toggle span:nth-child(2){
    margin-top: 4px;
    width: 18px;
}

.navbar-toggle span:last-child{
    margin-top: 4px;
    width: 10px;
}


/* =========header ends==========*/


/* ======home banner start======= */
.home-banner{
    position: relative;
}


/* ===========home banner ends======= */
@media (max-width:768px) {
    .navbar .container{
        flex-wrap: nowrap;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .navbar-collapse{
        display: flex;
        flex-basis: auto;
    }
    .navbar-nav li a{
        padding-left: 1rem;
    }

    
}